accelerate==1.10.1
asttokens==3.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
bioc==2.1
boto3==1.42.21
botocore==1.42.21
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
comm==0.2.3
conllu==4.5.3
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.19
decorator==5.2.1
Deprecated==1.3.1
docopt==0.6.2
exceptiongroup==1.3.1
executing==2.2.1
filelock==3.19.1
flair==0.15.1
fonttools==4.60.2
fsspec==2025.10.0
ftfy==6.3.1
gdown==5.2.0
huggingface-hub==0.36.0
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
intervaltree==3.2.1
ipykernel==6.31.0
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.3
jsonlines==4.0.0
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.7
langdetect==1.0.9
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.2.1
more-itertools==10.8.0
mpld3==0.5.12
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.2
numpy==2.0.2
packaging==25.0
pandas==2.3.3
parso==0.8.5
pillow==11.3.0
platformdirs==4.4.0
pptree==3.1
prompt_toolkit==3.0.52
protobuf==6.33.2
psutil==7.2.1
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.3.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch_revgrad==0.2.0
pytz==2025.2
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
regex==2025.11.3
requests==2.32.5
s3transfer==0.16.0
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.13.1
segtok==1.5.11
sentencepiece==0.2.1
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.8.1
sqlitedict==2.1.0
stack-data==0.6.3
sympy==1.14.0
tabulate==0.9.0
textblob==0.19.0
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.8.0
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
transformer-smaller-training-vocab==0.4.2
transformers==4.57.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.20
vaderSentiment==3.3.2
wcwidth==0.2.14
Wikipedia-API==0.8.1
wrapt==2.0.1
zipp==3.23.0
